<% if (messages && messages.length> 0) { %>
    <ul>
        <% messages.forEach(message=> { %>
            <li>
                <strong>
                    <%= message.title %>
                </strong><br />
                <p>
                    <%= message.body %>
                </p>
                <p>
                    <em>From: <%= message.sender_name %></em>
                </p>
                <small>Sent on: <%= message.timestamp.toLocaleString() %></small>
            </li>
            <% }) %>
    </ul>
    <% } else { %>
        <p>No messages found.</p>
        <% } %>